.read-more-btn {
  background: none;
  border: none;
  color: var(--text-secondary-color);
  font-weight: 700;
  cursor: pointer;
  padding: 0;
  margin: 0 4px;
  font-family: var(--font-family);
  font-size: inherit; /* Inherit font size from parent */
  display: inline;
  vertical-align: baseline;
}

.read-more-btn:hover {
  text-decoration: underline;
}
